[Unit]
Description=nca-system service

[Service]
Type=simple
NonBlocking=True
LogLevelMax=debug
LoadCredentialEncrypted=ncatomic:/etc/ncatomic/credentials/
ExecStart=/host/nca-system/nca-system

[Install]
WantedBy=default.target
