{
  admin unix//run/caddy.sock {
  }
  persist_config off
}

localhost {
  reverse_proxy /activate nca-activation:8080;
  respond / "Nextcloud Atomic is still starting... Please refresh this page in a few seconds."
}
